body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url('hello.png'); /* Change made here */
    background-size: cover; /* Ensure image covers entire container */
    background-position: center; /* Center the image */
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: rgba(255, 254, 254, 0.8); /* Added a semi-transparent background color */
    font-size: 40px;
    padding: 20px;
    border-radius: 10px;
}
.calculator form div:first-child input[type="text"] {
    border: 0;
    outline: 0;
    width: calc(100% - 40px); /* Adjusted width */
    height: 100px; /* Increased height */
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 40px; /* Adjusted font size */
    color: #000;
    cursor: pointer;
    margin: 10px;
    padding: 20px; /* Added padding */
}


.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 15px;
    color: #000; /* Changed text color to black */
    cursor: pointer;
    margin: 10px;
}
.form input.equal{
    width: 145px;
}
